@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik.ttf')
}
@font-face {
    font-family: 'Photograph';
    src: url('../fonts/Photograph\ Signature.ttf')
}
body {
    margin: 0%;
    background: linear-gradient(106deg, #3ac6f0, #2175d7);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
.headerText {
    font-family: 'Photograph';
    text-align: center;
    font-size: 4em;
}

.iconImage {
    padding-top: 2%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:15%;
}

.optionsDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    

}

.optionsHeader {
    font-family: 'Rubik';
    text-align: center;
    font-size: 2em;
}

.modeText {
  font-family: 'Rubik';
  text-align: center;
  font-size: 1.5em;

}

.fontText {
  font-family: 'Rubik';
  text-align: center;
  font-size: 1.5em;
}

.radio-inputs {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

