<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blueberry</title>
    <link rel="icon" type="image/x-icon" href="../static/images/blueberry.png">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    <script>0</script>
    <img src="../static/images/blueberry.png" alt="blueberryimage" class="iconImage">
    <p class="headerText">Blueberry</p>
    
    <div class="optionsDiv">
      <p class="optionsHeader">Options</p>

    </div>
    <p class="modeText">Mode</p>
    <div class="radio-inputs">
      <label class="radio">
        <input type="radio" name="radio" checked="">
        <span class="name">Gradient</span>
      </label>
      <label class="radio">
        <input type="radio" name="radio">
        <span class="name">Block</span>
      </label>
          
    </div>

    <p class="fontText">Font</p>
    <div class="radio-inputs">
      <label class="radio">
        <input type="radio" name="radio" checked="">
        <span class="name">Rubik</span>
      </label>
      <label class="radio">
        <input type="radio" name="radio">
        <span class="name">Photograph</span>
      </label>
      <label class="radio">
        <input type="radio" name="radio">
        <span class="name">CreamCake</span>
      </label>
          
    </div>

    <p class="currentImage">Current Image</p>

    
    
    <script src="../static/js/index.js"></script>
  </body>
</html>
