<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blueberry</title>
    <link rel="icon" type="image/x-icon" href="../static/images/blueberry.png">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    <img src="../static/images/blueberry.png" alt="blueberryimage" class="iconImage">
    <p class="headerText">Blueberry</p>
    
    <div class="optionsDiv">
      <p class="optionsHeader">Options</p>

      <ul class="horizontal-list">
        <li>
          <div class="dropdown">
            <button class="dropbtn">Mode</button>
            <div class="dropdown-content">
              <a href="#">Gradient</a>
              <a href="#">Block</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Font</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
        
      </ul>

    </div>

    <p class="currentImage">Current Image</p>

    
    
    <script src="../static/js/index.js"></script>
  </body>
</html>
