<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blueberry</title>
    <link rel="icon" type="image/x-icon" href="../static/images/blueberry.png">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    <img src="../static/images/blueberry.png" alt="blueberryimage" class="iconImage">
    <p class="headerText">Blueberry</p>
    
    
    
    <script src="../static/js/index.js"></script>
  </body>
</html>